<div class="start-stop">
  <button id="start" #start (click)="startButtonClick()" [disabled]="startDisabled">Start</button>
  <button id="stop" #stop (click)="stopButtonClick()" [disabled]="stopDisabled">Stop</button>
</div>
<div class='main-model'>
  <div class="settings">
    <span style="display:none">Prob. threshold:</span>
    <input style="display:none" class="settings" size="5" id="proba-threshold" #probaThreshold value="0.75">
  </div>
  <div id="candidate-words" #candidateWords class="candidate-words-hidden"></div>
</div>

<!-- Video camera -->
<video id="player" #player controls autoplay></video>
<button (click)="capture()">Capture</button>
<canvas #canvas width=520 height=440></canvas>
<!-- End Video camera -->

<ngx-image-gallery 
  [images]="images"
  [conf]="conf"
  (onOpen)="galleryOpened($event)"
  (onClose)="galleryClosed()"
  (onImageClicked)="galleryImageClicked($event)"
  (onImageChange)="galleryImageChanged($event)"
  (onDelete)="deleteImage($event)"
></ngx-image-gallery>

<router-outlet></router-outlet>
