<div class="start-stop">
  <button id="start" #start (click)="initTensor()" [disabled]="startDisabled">Start</button>
  <button id="stop" #stop (click)="stopButtonClick()" [disabled]="stopDisabled">Stop</button>
  <button (click)="capture()">Capture</button>
  <button (click)="upload()">Upload</button>
  <button (click)="applyFrame(0)">Add Frame</button>
</div>
<div class='main-model'>
  <div class="settings">
    <span style="display:none">Prob. threshold:</span>
    <input style="display:none" class="settings" size="5" id="proba-threshold" #probaThreshold value="0.75">
  </div>
  <div id="candidate-words" #candidateWords class="candidate-words-hidden"></div>
</div>

<div class="frame-container">
<!-- Video camera -->
  <div class="player-control">
    <video id="player" #player controls autoplay></video>
  </div>
  <div class="canvas-input">
    <canvas #canvas width=520 height=480></canvas>
  </div>

  <div class="frame-selection">
    <!-- Frames -->
    <div class="frame-one" (click)="onFrameClick(1)" [ngClass]="{'highlighted': currentFrame === 1}"></div>
    <div class="frame-two" (click)="onFrameClick(2)" [ngClass]="{'highlighted': currentFrame === 2}"></div>
    <div class="frame-three" (click)="onFrameClick(3)" [ngClass]="{'highlighted': currentFrame === 3}"></div>
    <div class="frame-four" (click)="onFrameClick(4)" [ngClass]="{'highlighted': currentFrame === 4}"></div>
    <div class="frame-five" (click)="onFrameClick(5)" [ngClass]="{'highlighted': currentFrame === 5}"></div>
    <div class="frame-six" (click)="onFrameClick(6)" [ngClass]="{'highlighted': currentFrame === 6}"></div>
  </div>
</div>
<!-- End Frames-->

<!-- End Video camera -->

<ngx-image-gallery 
  [images]="images"
  [conf]="conf"
  (onOpen)="galleryOpened($event)"
  (onClose)="galleryClosed()"
  (onImageClicked)="galleryImageClicked($event)"
  (onImageChange)="galleryImageChanged($event)"
  (onDelete)="deleteImage($event)"
></ngx-image-gallery>

<router-outlet></router-outlet>
